body {
  background-color: #1c1c1d;
  flex-direction: column;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none;
  display: flex;
  flex-wrap:wrap;
}

hr {
color: grey;
background-color:#333;
}
